# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
.idea/.gitignore
.idea/Dissertacao.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.vscode/settings.json
visualkeras-master/.travis.yml
visualkeras-master/LICENSE
visualkeras-master/README.md
visualkeras-master/setup.py
visualkeras-master/.github/ISSUE_TEMPLATE/bug_report.md
visualkeras-master/.github/ISSUE_TEMPLATE/feature_request.md
visualkeras-master/.github/workflows/python-publish.yml
visualkeras-master/.github/workflows/stale.yml
visualkeras-master/examples/autoencoder.py
visualkeras-master/examples/dense.py
visualkeras-master/examples/generate_examples.py
visualkeras-master/examples/vgg16.py
visualkeras-master/figures/autoencoder.png
visualkeras-master/figures/encoder.png
visualkeras-master/figures/vgg16_color_map.png
visualkeras-master/figures/vgg16_flat.png
visualkeras-master/figures/vgg16_legend.png
visualkeras-master/figures/vgg16_scaling.png
visualkeras-master/figures/vgg16_spacing_layers.png
visualkeras-master/figures/vgg16_type_ignore.png
visualkeras-master/figures/vgg16.png
visualkeras-master/tests/conftest.py
visualkeras-master/tests/test_graph.py
visualkeras-master/tests/test_layer_utils.py
visualkeras-master/tests/test_layered.py
visualkeras-master/tests/test_utils.py
visualkeras/__init__.py
visualkeras/graph.py
visualkeras/layer_utils.py
visualkeras/layered.py
visualkeras/utils.py
draw_convnet-master/.gitignore
draw_convnet-master/convnet_fig_with_omitted_channel.png
draw_convnet-master/convnet_fig.png
draw_convnet-master/draw_convnet.py
draw_convnet-master/README.md
Archive/MousePicker.py
Archive/test.py
Archive/diogo/class12.exe
Archive/diogo/code.zip
Archive/diogo/glut32.dll
Archive/diogo/main.final.cpp
Archive/diogo/picking.detailed.pdf
Archive/diogo/picking.pdf
Archive/diogo/code/CMakeLists.txt
Archive/diogo/code/main.cpp
Archive/visualkeras/__init__.py
Archive/visualkeras/graph.py
Archive/visualkeras/layer_utils.py
Archive/visualkeras/layered.py
Archive/visualkeras/utils.py
Archive/visualkeras-master/.travis.yml
Archive/visualkeras-master/LICENSE
Archive/visualkeras-master/README.md
Archive/visualkeras-master/setup.py
Archive/visualkeras-master/.github/ISSUE_TEMPLATE/bug_report.md
Archive/visualkeras-master/.github/ISSUE_TEMPLATE/feature_request.md
Archive/visualkeras-master/.github/workflows/python-publish.yml
Archive/visualkeras-master/.github/workflows/stale.yml
Archive/visualkeras-master/examples/autoencoder.py
Archive/visualkeras-master/examples/dense.py
Archive/visualkeras-master/examples/generate_examples.py
Archive/visualkeras-master/examples/vgg16.py
Archive/visualkeras-master/figures/autoencoder.png
Archive/visualkeras-master/figures/encoder.png
Archive/visualkeras-master/figures/vgg16_color_map.png
Archive/visualkeras-master/figures/vgg16_flat.png
Archive/visualkeras-master/figures/vgg16_legend.png
Archive/visualkeras-master/figures/vgg16_scaling.png
Archive/visualkeras-master/figures/vgg16_spacing_layers.png
Archive/visualkeras-master/figures/vgg16_type_ignore.png
Archive/visualkeras-master/figures/vgg16.png
Archive/visualkeras-master/tests/conftest.py
Archive/visualkeras-master/tests/test_graph.py
Archive/visualkeras-master/tests/test_layer_utils.py
Archive/visualkeras-master/tests/test_layered.py
Archive/visualkeras-master/tests/test_utils.py
model_GTSRB_train1_val1_02/cp-0057.ckpt/keras_metadata.pb
model_GTSRB_train1_val1_02/cp-0057.ckpt/saved_model.pb
model_GTSRB_train1_val1_02/cp-0057.ckpt/variables/variables.data-00000-of-00001
model_GTSRB_train1_val1_02/cp-0057.ckpt/variables/variables.index

.vscode
Models
/.idea/jsLibraryMappings.xml
